body {
    font-family: 'Franklin Gothic Medium', 'Times New Roman', Times, serif, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #000000;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em;
    max-width: 800px;
    margin: auto;
}

section {
    border: 1px solid #ddd;
    margin: 1em 0;
    padding: 1em;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: #f9f9f9;
}

section img {
    max-width: 80%;
    height: auto;
    border-radius: 20px;
}

section p {
    flex: 1 1 300px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
}